step_function_definition.json
{
  "StartAt": "ParseCSVFromS3",
  "States": {
    "ParseCSVFromS3": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:<ACCOUNT_ID>:function:parse_csv_from_s3",
      "Next": "FilterValidBrands"
    },
    "FilterValidBrands": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:<ACCOUNT_ID>:function:filter_valid_brands",
      "ResultPath": "$.filter_results",
      "Next": "SaveFilteredToDynamoDB"
    },
    "SaveFilteredToDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:<ACCOUNT_ID>:function:save_filtered_to_dynamodb",
      "Next": "GenerateReport"
    },
    "GenerateReport": {
      "Type": "Pass",
      "Parameters": {
        "summary.$": "$.filter_results.summary"
      },
      "ResultPath": "$.report",
      "Next": "NotifyProcessingStatus"
    },
    "NotifyProcessingStatus": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:<ACCOUNT_ID>:function:notify_processing_status",
      "Parameters": {
        "summary.$": "$.filter_results.summary"
      },
      "End": true
    }
  }
}